@CHARSET "UTF-8";
.color-primary{color: #337ab7;}
.color-success{color: #5cb85c;}
.color-info{color: #5bc0de;}
.color-warning{color: #f0ad4e;}
.color-danger{color: #d9534f;}
a{color:#555;border-radius:0px !important;}
a{ text-decoration:none;}
a:hover{ text-decoration:none;}
.form-control{border-radius:0px !important;}
.btn{border-radius:0px !important;}
ul{border-radius:0px !important;}
li{border-radius:0px !important;}
div{border-radius:0px !important;}
span{border-radius:0px !important;}
.panel-default .panel-heading{padding: 12px;background-color: white;}
hr{margin: 10px 0px 10px 0px;}
.modelhr{margin-top: 0px!important;padding-top: 0px!important;}
pre{border-radius: 0px !important;}

html {position: relative;min-height: 100%;}

body {
	font-family: "Microsoft YaHei", "Microsoft YaHei  UI","Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei",  sans-serif;
	font-size: 14px;
	color:#444;
	line-height: 1.5;
}

a.list-group-item{
	color:#444;
}

body>.container {
  max-width: none !important;
}

.main{
	padding-top:70px;
	padding-bottom:20px;
}
.main-banner{
	background-color: #339966;margin: 50px 0px 20px 0px;color: white;padding: 30px 0px 30px 0px;
}
.main-title{
	font-size:24px;
/* 	font-variant: small-caps; */
}
.main-second-title{
	padding-top: 20px;padding-left: 10px;padding-right: 10px;
}

.navbar{border-color: transparent; !important;border: 0px;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{border-color: transparent; !important;}
.navbar-static-top{
	margin-bottom: 0px;
	
}
.navbar-default .navbar-nav>li>a{
	color: #000;
}
.navbar-default .navbar-brand{
	color: #444;
}
 li{clear: none !important;}

/* .navbar-default .navbar-nav > li > a{color: #000;} */

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
background-color: #f8f8f8;
color: #000;
}


/* .navbar-fixed-top{ */
/* 	filter:alpha(opacity=97);  */
/* 	-moz-opacity:0.97;  */
/* 	opacity:0.97; */
/* 	color: #333; */
/* } */

.headroom {
    transition: transform 300ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}


/*Error Page*/
.error_ex{ text-align:center;}
.error_ex h1{ font-size:140px; font-weight:bold; padding:20px 0 0 0; color:#28B779}
.error_ex h2{ font-size:140px; font-weight:bold; padding:20px 0 0 0; color:#a94442}
.error_ex h3{ padding:20px 0 0 0; }

.error{border-color: #a94442;}

.breadcrumb{
	margin-bottom: 10px;
}

.todo-list td{
	vertical-align: middle !important;
	height: 50px;
}

#loading-mask {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 20000;
	background-color: gray;
	filter: alpha(opacity = 20);
	-moz-opacity: 0.2;
	opacity: 0.2;
}

#loading {
	position: fixed;
	left: 45%;
	top: 40%;
	padding: 2px;
	z-index: 20001;
	height: auto;
}

#loading .loading-indicator {
	height: auto;
}

#loading .loading-msg {
	padding-top: 10px;
	font-size: 16px;
}