@CHARSET "UTF-8";
a{
	color:#555;
}
hr{
	padding: 0;
	margin-bottom: 10px;
	margin-top: 10px;
}

.modelhr{
	margin-top: 0px!important;padding-top: 0px!important;
}

html {
	position: relative;
	min-height: 100%;
	
}

.panel-default .panel-heading{
	padding: 12px;background-color: white;
}

body {
	/* Margin bottom by footer height */
	font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
	font-size: 14px;
	color:#555;
	line-height: 1.5;
}

body>.container {
  max-width: none !important;
  padding-top: 60px;
}

.container .text-muted {
	margin: 20px 0;
}

.navbar{
	margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a{
	color: #555;
}

.navbar-fixed-top .container {
	
}

.navbar-static-top .container {
	
}

.navbar-fixed-top{
	filter:alpha(opacity=97); 
	-moz-opacity:0.97; 
	opacity:0.97;
	color: #333;
}

.row{
	padding-top: 10px;
}
.userinfo{
	
}

.searchform{
/* 	padding-top: 10px; */
}

.manageButton{
	margin:10px 0px 0px 20px;float: right;
}

<!-- article css begin -->
.articleList{
	padding-top: 10px 0px 10px 0px;
}

.articleList .article{
	margin-bottom:30px;
	display: block;
}
.articleList .article .channel{
	
}

/*article css*/
.articleList .article .title{
/* 	color:#777; */
	margin-top:0px;
	margin-bottom:5px;		
	text-align: left; 
	word-break: break-all!important;
/* 	white-space:pre-wrap !important; */
}
.articleList .article .title a{
	color:#4183c4 !important;
}
.articleList .article .content{
	margin-top:10px;
	display: block !important;
/* 	text-align: left;  */
	word-break: break-all!important;
	white-space:pre-wrap !important;
}

.articleList .article .content span{
	white-space:pre-wrap !important;
	word-break: break-all!important;
}



.articleList .article .content p{
	white-space:pre-wrap!important;
	word-break: break-all!important;
}
.articleList .article .content div{
	white-space:pre-wrap!important;
	word-break: break-all!important;
}

.articleList .article .content .imgwh{width:100%;height:100%;}

/* .articleList .article .content p{ */
/* 	display: block !important; */
/* 	text-align: left;  */
/* 	word-break: break-all; */
/* } */



.readmore-js-toggle{
	padding-top:4px;
	display: block;
	text-align: right;
	padding-right: 10px;
}

<!-- article css end -->

/*Error Page*/
.error_ex{ text-align:center;}
.error_ex h1{ font-size:140px; font-weight:bold; padding:20px 0 0 0; color:#28B779}
.error_ex h2{ font-size:140px; font-weight:bold; padding:20px 0 0 0; color:#a94442}
.error_ex h3{ padding:20px 0 0 0; }

.error{border-color: #a94442;}

form{margin: 0;}


.blog-article-toolbar{
	display: inline;
	float: right;
	padding-right: 10px;
}
.blog-article-toolbar span{
	padding-left: 4px;
}
.blog-channel-toolbar{
	
}
.blog-channel-toolbar span{
	float:right;
	padding-right: 4px;
}

.list-group{
	margin-bottom: 10px;
}
.list-group .selected{
	color: #428bca;
	font-weight: bold;
}

.list-group .selected:before {
position: absolute;
top: 0;
left: 0;
bottom: 0;
width: 2px;
content: "";
background-color: #428bca;
}


.edui-container(){
	margin-top: 100px;
}

.breadcrumb{
	margin-bottom: 10px;
}

.jumbotron{
	margin-bottom: 10px;
}

.todo-list td{
	vertical-align: middle !important;
	height: 50px;
}


#loading-mask {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 20000;
	background-color: gray;
	filter: alpha(opacity = 20);
	-moz-opacity: 0.2;
	opacity: 0.2;
}

#loading {
	position: fixed;
	left: 45%;
	top: 40%;
	padding: 2px;
	z-index: 20001;
	height: auto;
}

#loading .loading-indicator {
	height: auto;
}

#loading .loading-msg {
	padding-top: 10px;
}


.edui-container{
	box-shadow:none!important;
}
.edui-container .edui-toolbar{
	box-shadow:none!important;
}


/* .glyphicon-edit{color:#5bc0de;} */
/* .glyphicon-trash{color:#d9534f;} */