.footer{
	padding: 20px 0px 20px 0px;
}



.copyright {
	margin-top:20px;
	margin-bottom:20px;
	position: relative;
	width: 100%;
	height: 30px;
	text-align: center;
}

#back-to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #428bca;
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
    z-index: 1;
    display: none;
}

#back-to-top i {
    width: 30px;
    height: 30px;
    line-height: 30px;
}



