@CHARSET "UTF-8";
.banner {
/* 	background-attachment: scroll, fixed; */
/* 	background-image: url("../../upload/index/banner.jpg"); */
	height: 400px;
	background-color: #006666;
/* 	background-color: #006699; */
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	width: 100%;
	margin-bottom: 20px;
	font-variant: small-caps;
}
.bannerInfo{
	color: white;
	position: absolute;
	margin-top: 370px;
	margin-left: 76%;
	font-size: 14px;
}
.indexInfo {}
.indexInfo .title {
	font-size: 60px;
	padding-top: 100px;
	color: white;
}
.indexInfo .content {
	color: white;
	font-size: 20px;
	padding-bottom: 20px;
	line-height: 1.2;
}
.jumbotron{
	background-color: #006666;
	color: white;
	font-variant: small-caps;
}
.linkBox {
	padding: 30px 20px 20px 20px !important;font-variant: small-caps;
}

.linkBox a{ text-decoration:none;}
.linkBox a:hover{ text-decoration:none;}
.linkBox .media{
	display: inline-block;
	padding: 20px 10px 40px 10px;
	
}

.linkBox .desktop{
	width: 400px;
}
.desktop .media-left i{
	font-size: 60px;
}

.labelBox{
	padding: 40px 30px 40px 30px !important;
/* 	background-color: #f8f8f8; */
	margin:20px 0px 0px 0px;
}

.indexLabel{
	line-height:4 !important;padding: .6em .9em .6em .9em;margin-right: 10px;
}

.searchBox{
	padding: 40px 0px 80px 0px; 
}
.searchBox .title{
	text-align: center;padding: 20px 0px 40px 0px;font-variant: small-caps;
}

.countBox{padding: 40px 0px 40px 0px;}
.countBox .countTitle{padding-bottom: 40px;text-align: center;}
.countBox .countTitle .title{font-size: 40px;font-variant: small-caps;}
.countBox .countTitle .icon{padding-top: 40px;}
.countBox .countInfo{text-align: center;padding: 0px 20px 0px 20px;}
.countBox .countInfo .count{font-size: 60px;}
