@CHARSET "UTF-8";

.indexInfo {
	/* 	line-height: 40px; */
}

.indexInfo .title {
	font-size: 50px;
	color: #fff;
	padding-top: 110px;
}

.indexInfo .content {
	font-size: 20px;
	color: #fff;
	padding-bottom: 20px;
	line-height: 10px;
}

.banner {
	background-attachment: scroll, fixed;
	background-image: url("../../upload/index/banner.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	width: 100%;
	height: 400px;
	/* 	background-color: rgb(24, 200, 246); */
}

/* .blur { */
/*     filter: url(blur.svg#blur); FireFox, Chrome, Opera */
/*     -webkit-filter: blur(10px); Chrome, Opera */
/*        -moz-filter: blur(10px); */
/*         -ms-filter: blur(10px);    */
/*             filter: blur(10px); */
/*     filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); IE6~IE9 */
/* } */




/*linkbox begin*/
.linkBox {
	padding-top: 40px !important;
}

.media{
	display: inline-block;
	padding: 20px 10px 20px 10px;
	
}

.desktop{
	width: 400px;
}

/*linkbox end*/


.bannerInfo{
	color: white;
	position: absolute;
	margin-top: 370px;
	margin-left: 76%;
	font-size: 14px;
}

/*labelBox end*/
.labelBox{
	padding: 20px 30px 20px 30px !important;
}

.indexLabel{
	line-height:3 !important;padding: .4em;margin-right: 10px;
}

/*labelBox end*/
