@CHARSET "UTF-8";

.indexInfo {
/* 	text-align: center; */
}

.indexInfo .title {
	font-size: 50px;
	padding-top: 110px;
	color: white;
/* 	font-variant: small-caps; */
/* 	font-size: 80px; */
/* 	color: #337ab7; */
}

.indexInfo .content {
	color: white;
	font-size: 20px;
	padding-bottom: 20px;
	line-height: 1.2;
/* 	font-variant: small-caps; */
}

.banner {
	background-attachment: scroll, fixed;
	background-image: url("../../upload/index/banner.jpg");
	height: 400px;
	background-color: #f8f8f8;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	width: 100%;
	margin-bottom: 20px;
}
.bannerInfo{
	color: white;
	position: absolute;
	margin-top: 370px;
	margin-left: 76%;
	font-size: 14px;
}

.linkBox {
	padding: 20px 20px 20px 20px !important;
}

.linkBox a{ text-decoration:none;}
.linkBox a:hover{ text-decoration:none;}
.linkBox .media{
	display: inline-block;
	padding: 20px 10px 40px 10px;
	
}

.linkBox .desktop{
	width: 400px;
}
.desktop .media-left i{
	font-size: 60px;
}

.labelBox{
	padding: 60px 30px 60px 30px !important;
	background-color: #f8f8f8;
	margin:20px 0px 0px 0px;
}

.indexLabel{
	line-height:4 !important;padding: .6em .9em .6em .9em;margin-right: 10px;
}

.searchBox{
	padding: 40px 0px 80px 0px; 
}
.searchBox .title{
	text-align: center;padding: 20px 0px 40px 0px;font-variant: small-caps;
}