a{
	color:#777;
}
hr{
	padding: 0;
	margin-bottom: 10px;
	margin-top: 10px;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
	font-size: 14px;
	color:#777;
}

body>.container {
  max-width: none !important;
  width:980px;
  padding-top: 70px;
  padding-bottom: 10px;
}

.container .text-muted {
	margin: 20px 0;
}

.navbar-fixed-top .container {
	width:980px;
}

.navbar-right{
	padding-top: 8px;
}
.navbar-right .loginsetting{
	padding-top: 8px;
	padding-right: 12px;
}
.navbar-right .loginsetting span{
	padding-left: 8px;
}

.footer {
	margin-top:30px;
	margin-bottom:30px;
	position: relative;
	width: 100%;
	height: 30px;
	text-align: center;
/* 	background-color: #f5f5f5; */
}
.footer .copyright {
	margin: 3px 0;
}
.footer .tongji {
	margin: 3px 0;
}


table {
	font-size: 14;
}

.row{
	padding-top: 10px;
}
.userinfo{
	
}
.articleList{
/* 	padding-top: 10px; */
}

.articleList .article{
	margin-bottom:40px;
	display: block;
}
.articleList .article .channel{
/* 	color: #428bca; */
}

/*article css*/
.articleList .article .title{
/* 	color:#777; */
	margin-top:0px;
	margin-bottom:5px;		
	line-height: 32px;
}
.articleList .article .title a{
	color:#4183c4 !important;
}
.articleList .article .content{
	margin-top:20px;
/* 	color:#333 !important; */
/* 	line-height: 28px; */
/* 	font-size: 14px; */
/* 	width:698px; */
	display: block;
}

.readmore-js-toggle{
	padding-top:4px;
	display: block;
	text-align: right;
}

/*Error Page*/
.error_ex{ text-align:center;}
.error_ex h1{ font-size:140px; font-weight:bold; padding:50px 0; color:#28B779}
.error_ex h2{ font-size:140px; font-weight:bold; padding:50px 0; color:#a94442}

.error{border-color: #a94442;}

form{margin: 0;}


.blog-article-toolbar{
	display: inline;
	float: right;
	padding-right: 10px;
}
.blog-article-toolbar span{
	padding-left: 4px;
}
.blog-channel-toolbar{
	
}
.blog-channel-toolbar span{
	float:right;
	padding-right: 4px;
}

.list-group{
	margin-bottom: 10px;
}
.list-group .selected{
	color: #428bca;
	font-weight: bold;
}

.edui-container(){
	margin-top: 100px;
}