a{
	color:#777;
}
hr{
	padding: 0;
	margin-bottom: 10px;
	margin-top: 10px;
}

html {
	position: relative;
	min-height: 100%;
	
}

body {
	/* Margin bottom by footer height */
	font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
	font-size: 14px;
	color:#777;
/* 	background-color: #f8f8f8; */
}

body>.container {
  max-width: none !important;
/*   width:980px; */
  padding-top: 70px;
  padding-bottom: 10px;
}

.container .text-muted {
	margin: 20px 0;
}

.navbar-fixed-top .container {
/* 	width:980px; */
}

.navbar-static-top .container {
	width:980px;
}

/* .navbar-fixed-top{ */
/* 	filter:alpha(opacity=90);  */
/* 	-moz-opacity:0.9;  */
/* 	opacity:0.9; */
/* } */

.footer {
	margin-top:20px;
	margin-bottom:20px;
	position: relative;
	width: 100%;
	height: 30px;
	text-align: center;
}
.footer .leftbox {
	float: left;
}
.footer .rightbox {
	float: right;
}

table {
	font-size: 14;
}

.row{
	padding-top: 10px;
}
.userinfo{
	
}
.articleList{
/* 	padding-top: 10px; */
}

.articleList .article{
	margin-bottom:20px;
	display: block;
}
.articleList .article .channel{
/* 	color: #428bca; */
}

/*article css*/
.articleList .article .title{
/* 	color:#777; */
	margin-top:0px;
	margin-bottom:5px;		
	line-height: 32px;
	text-align: left; 
	word-break: break-all;
}
.articleList .article .title a{
	color:#4183c4 !important;
}
.articleList .article .content{
	margin-top:20px;
/* 	color:#333 !important; */
/* 	line-height: 28px; */
/* 	font-size: 14px; */
	display: block !important;
	text-align: left; 
	word-break: break-all;
	
}

.articleList .article .content span{
	white-space:inherit !important;
}
.articleList .article .content p{
	white-space:inherit !important;
}
.articleList .article .content div{
	white-space:inherit !important;
}

/* .articleList .article .content p{ */
/* 	display: block !important; */
/* 	text-align: left;  */
/* 	word-break: break-all; */
/* } */

.readmore-js-toggle{
	padding-top:4px;
	display: block;
	text-align: right;
	padding-right: 10px;
}

/*Error Page*/
.error_ex{ text-align:center;}
.error_ex h1{ font-size:140px; font-weight:bold; padding:50px 0; color:#28B779}
.error_ex h2{ font-size:140px; font-weight:bold; padding:50px 0; color:#a94442}

.error{border-color: #a94442;}

form{margin: 0;}


.blog-article-toolbar{
	display: inline;
	float: right;
	padding-right: 10px;
}
.blog-article-toolbar span{
	padding-left: 4px;
}
.blog-channel-toolbar{
	
}
.blog-channel-toolbar span{
	float:right;
	padding-right: 4px;
}

.list-group{
	margin-bottom: 10px;
}
.list-group .selected{
	color: #428bca;
	font-weight: bold;
}

.list-group .selected:before {
position: absolute;
top: 0;
left: 0;
bottom: 0;
width: 2px;
content: "";
background-color: #428bca;
}


.edui-container(){
	margin-top: 100px;
}

.breadcrumb{
	margin-bottom: 10px;
}

.jumbotron{
	margin-bottom: 10px;
}

.todo-list td{
	vertical-align: middle !important;
	height: 50px;
}


#loading-mask {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 20000;
	background-color: gray;
	filter: alpha(opacity = 20);
	-moz-opacity: 0.2;
	opacity: 0.2;
}

#loading {
	position: fixed;
	left: 45%;
	top: 40%;
	padding: 2px;
	z-index: 20001;
	height: auto;
}

#loading .loading-indicator {
	height: auto;
}

#loading .loading-msg {
	padding-top: 10px;
}