html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	
}

body>.container {
	padding: 2px 15px 0;
}

.container .text-muted {
	margin: 20px 0;
}

.navbar-static-top {
	margin-bottom: 19px;
}

.footer {
	/*   position: absolute; */
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}

.footer>.container {
	padding-right: 15px;
	padding-left: 15px;
}

table {
	font-size: 14;
}

/***********Error Page******************/
.error_ex{ text-align:center;}
.error_ex h1{ font-size:140px; font-weight:bold; padding:50px 0; color:#28B779}

.error{border-color: #a94442;}

form{margin: 0;}